################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DataIntegraatioTesti/.vs/DataIntegraatioTesti/v16
/DataIntegraatioTesti/DataIntegraatioTesti/bin/Debug/netcoreapp3.1
/DataIntegraatioTesti/DataIntegraatioTesti/obj
/DataIntegraatioTesti/.vs/DataIntegraatioTesti/DesignTimeBuild
/DotNet/AzureWebAppDemo/.vs/AzureWebAppDemo
/DotNet/AzureWebAppDemo/AzureWebAppDemo/bin/Debug/net5.0
/DotNet/AzureWebAppDemo/AzureWebAppDemo/obj
