################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DataIntegraatioTesti/.vs/DataIntegraatioTesti/v16
