################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DataIntegraatioTesti/.vs/DataIntegraatioTesti/v16
/DataIntegraatioTesti/DataIntegraatioTesti/bin/Debug/netcoreapp3.1
/DataIntegraatioTesti/DataIntegraatioTesti/obj
